{% load staticfiles %}
<html>

<head>
    <meta name="description" content="[add your bin description]">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/clock.css' %}">
    <title>Clock</title>
</head>

<body>
    <div class="story">
        <p>- 알람시간을 설정하면 알람시간이 저장됩니다.</p>
        <p>- 알람시간과 현재시간이 같으면 알람이 울립니다.</p>
        <p>- Stop 버튼을 누르면 알람이 정지됩니다.</p>
        <p>- 체크박스로 알람을 끄고 켤 수 있습니다.</p>
        <br>
        <h4>어려웠던 점 :</h4>
        <p>설정한 알람시간을 알람침으로 보이게 하기.</p>
        <br>
        <h4>극복 과정 :</h4>
        <p>LocalStorage에 저장된 알람시간 ("00시 00분")을 replace, slice 메서드를 사용하여 '시'와 '분'을 없앤
            ('00 '), ('00 ') 두개의 문자열로 나눴습니다.<br> Number 함수를 사용하여 문자열을
         숫자로 바꿔줍니다. 이 두개 숫자로 drawTime 함수를 사용하여 알람침을 만들었습니다.</p>
    </div>
    <button class="btn" onclick="location.href='http://lmsto6677.pythonanywhere.com'">Home</button>
    <div class='content'>
        <canvas id="canvas" width="400" height="400" style="background-color:#ffffff"></canvas>
        <br>
        <div class='text'>
            <select id='check'>
                <option id='op1' value="ON">ON</option>
                <option id='op2' value="OFF">OFF</option>
            </select>
            <input id='num1' type="number" min="0" max="23"> :
            <input id='num2' type="number" min="0" max="59">
            <button id='start'>알람설정</button>
            <button id='stop'>Stop</button>
            <div id='result'></div>
            <div id='coordinate'></div>
            <br>
            <a href="https://github.com/dlalstn604/Minsu/blob/master/blog/templates/blog/clock.html">소스 보기</a>
        </div>
    </div>

    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var radius = canvas.height / 2;
        var mySound = new sound("https://www.w3schools.com/graphics/gametheme.mp3");
        ctx.translate(radius, radius);
        //radius, radius 만큼 중심점을 옮긴다.
        radius = radius * 0.90;
        setInterval(drawClock, 1000);
        setInterval(alarm, 1000);

        //1초에 한번씩 실행
        function drawClock() {
            drawFace(ctx, radius);
            drawNumbers(ctx, radius);
            drawTime(ctx, radius);
        }

        //알람 설정
        var start = document.getElementById('start');
        start.addEventListener('click', function () {
        //로컬저장소에 시간 저장
            if (typeof (Storage) !== "undefined") {
                if (localStorage.save) {
                    localStorage.save = num1.value + '시 ' + num2.value + '분';
                } else {
                    localStorage.save = 1
                }
            }
            document.getElementById("result").innerHTML =
                '알람이 ' + localStorage.save + '으로 설정되었습니다.';
        })
        document.getElementById("result").innerHTML =
            '알람이 ' + localStorage.save + '에 울립니다.';

        //로컬저장소에 체크박스 값을 저장
        var check = document.getElementById('check');
        check.addEventListener('click', function() {
            if (typeof (Storage) !== "undefined") {
                 if (localStorage.on) {
                    localStorage.on = check.value
                } else {
                    localStorage.on = 1
                }
            }
                document.getElementById("check").value = localStorage.on;
        })
            document.getElementById("check").value = localStorage.on;

        //localStorage에 저장된 값을 가져와서 현재 시간과 비교

        function alarm() {
        //현재 시간과 분을 가져옴
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            //localStorage.save 값에 숫자 이외의 문자를 띄어쓰기로 바꿈
            var num = localStorage.save.replace(/[^0-9]/g, " ");
            if (Number(num.slice(0, 2)) == hour && Number(num.slice(-3, -1)) == minute) {
                if (check.value == 'ON') {
                    mySound.play();
                } else {
                    mySound.stop();
                }
            }
            var click = document.getElementById('stop');
            click.addEventListener('click', function () {
                document.getElementById('op1').value = "OFF";
                if (op1.value == 'OFF') {
                    setTimeout(function () {
                        document.getElementById('op1').value = "ON";
                    }, 60000);
                }
            })
        //stop을 누르면 1분동안 'on1'의 값이 off로 바뀌며 mySound.stop();

        }

        function drawNumbers(ctx, radius) {
            var ang;
            var num;
            ctx.font = radius * 0.15 + "px arial";
            ctx.textBaseline = "middle";
            ctx.textAlign = "center";
            //원안에서 각도를 이용하여 숫자를 적는 반복문
            for (num = 1; num < 13; num++) {
                ang = num * Math.PI / 6;
                ctx.rotate(ang);
                ctx.translate(0, -radius * 0.85);
                ctx.rotate(-ang);
                ctx.fillText(num.toString(), 0, 0);
                ctx.rotate(ang);
                ctx.translate(0, radius * 0.85);
                ctx.rotate(-ang);
            }
        }

        function drawTime(ctx, radius) {
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            var num = localStorage.save.replace(/[^0-9]/g, " ");

            hour = hour % 12;
            hour = (hour * Math.PI / 6) +
                (minute * Math.PI / (6 * 60)) +
                (second * Math.PI / (360 * 60));
            drawHand(ctx, hour, radius * 0.5, radius * 0.07, "#333");
            //hour
            minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
            drawHand(ctx, minute, radius * 0.8, radius * 0.07, "#333");
            //minute
            second = (second * Math.PI / 30);
            drawHand(ctx, second, radius * 0.9, radius * 0.02, "#333");
            // second
            alarm = (Number(num.slice(0, 2)) * Math.PI / 6) + (Number(num.slice(-3, -1)) * Math.PI / (6 * 60));
            drawHand(ctx, alarm, radius * 0.5, radius * 0.01, "red");

        }

        function drawHand(ctx, pos, length, width, color) {
        //캔버스에 새로운 path를 만든다.
            ctx.beginPath();
            ctx.lineWidth = width;
            ctx.lineCap = "round";
            ctx.strokeStyle = color
            ctx.moveTo(0, 0);
            ctx.rotate(pos);
            ctx.lineTo(0, -length);
            ctx.stroke();
            ctx.rotate(-pos);
        }

        function drawFace(ctx, radius) {
            var grad;
            ctx.beginPath();
            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
            ctx.fillStyle = '#F3F2F2';
            ctx.fill();
            grad = ctx.createRadialGradient(0, 0, 0, 0, 0, radius * 1.05);
            //초침, 분침, 시침, 알람침
            grad.addColorStop(0.91, '#333');
            grad.addColorStop(0.95, 'white');
            grad.addColorStop(1.0, '#333');
            ctx.strokeStyle = grad;
            ctx.lineWidth = radius * 0.1;
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
            //숫자
            ctx.fillStyle = '#333';
            ctx.fill();
        }

        function sound(src) {
            this.sound = document.createElement("audio");
            this.sound.src = src;
            this.sound.setAttribute("preload", "auto");
            this.sound.setAttribute("controls", "none");
            this.sound.style.display = "none";
            document.body.appendChild(this.sound);
            this.play = function () {
                this.sound.play();
            }
            this.stop = function () {
                this.sound.pause();
            }
        }

    </script>
</body>

</html>