{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">

    <title>Document</title>

</head>

<body>
    <button class="btn" onclick="location.href='http://127.0.0.1:8000'">Home</button>
    <div class="img">
        <img src="{% static 'image/배경화면.jpg' %}" alt="">
    </div>
    <a href="https://github.com/dlalstn604/Minsu/blob/master/blog/templates/blog/image.html">소스 보기</a>
    <div class="img">
        <input type="file" id="getImg" accept="image/*">
        <div class="img-zoom-container img">
            <div class='fir img'>
                <img id="myimage" src="" width="300" height="300">
                <div id="myresult" class="img-zoom-result img"></div>
            </div>
            <img src="{% static 'image/오른쪽.jpg' %}" alt="" style="padding-left: 100px">
        </div>
    </div>
    <div class="story">
        <p>- 파일을 선택하여 이미지를 불러올 수 있습니다.</p>
        <p>- 마우스 커서에 따라 랜즈가 이미지 위를 이동합니다.</p>
        <p>- 랜즈 안의 이미지만큼을 확대하여 보여줍니다.</p>
        <h4>어려웠던 점 :</h4>
        <p>마우스 커서에 따라 이미지 안에서 움직이는 랜즈 만들기.</p>
        <h4>극복 과정 :</h4>
        <p>
            랜즈를 div로 만들어 마우스 커서에 따라 이미지의 좌표값을 받아서 움직이는 랜즈를 만들었다. <br>
            확대 하고싶은 이미지의 아이디값을 가져와 insertBefore 메서드를 사용하여 랜즈를 이미지에 넣었다.

        </p>
    </div>


    <script>
    //이미지 파일 로드
        var file = document.querySelector('#getImg');
        file.onchange = function () {
            var fileList = file.files;

            var reader = new FileReader();
            reader.readAsDataURL(fileList[0]);

            reader.onload = function () {
                document.querySelector('#myimage').src = reader.result;
            };
        };


        function imageDetail(imgID, resultID) {
            var img, lens, result, cx, cy;
            img = document.getElementById(imgID);
            result = document.getElementById(resultID);

            //랜즈 생성
            lens = document.createElement("DIV");
            lens.setAttribute("class", "img-zoom-lens");

            img.parentElement.insertBefore(lens, img);

            imageX = result.offsetWidth / lens.offsetWidth;
            imageY = result.offsetHeight / lens.offsetHeight;

            myimage.onload = function () {
                result.style.backgroundImage = "url('" + img.src + "')";
                result.style.backgroundSize = (img.width * imageX) + "px " + (img.height * imageY) + "px";
            }

            lens.addEventListener("mousemove", moveLens);
            img.addEventListener("mousemove", moveLens);

            function moveLens(e) {
                var pos, x, y;
                pos = point(e);

                x = pos.x - (lens.offsetWidth / 2);
                y = pos.y - (lens.offsetHeight / 2);
                if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
                if (x < 0) { x = 0; }
                if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
                if (y < 0) { y = 0; }
                lens.style.left = x + "px";
                lens.style.top = y + "px";
                result.style.backgroundPosition = "-" + (x * imageX) + "px -" + (y * imageY) + "px";
            }

            function point(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                a = img.getBoundingClientRect();
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }

        imageDetail("myimage", "myresult");
    </script>
</body>

</html>