{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">

    <title>Document</title>

</head>

<body>
    <img src="{% static 'image/배경화면.jpg' %}" alt="">
    <div class="img">
        <input type="file" id="getImg" accept="image/*">
        <div class="img-zoom-container img">
            <div class='fir'>
                <img id="myimage" src="" width="300" height="300">
                <img id="myresult" class="img-zoom-result img">
            </div>
            <img src="{% static 'image/오른쪽.jpg' %}" alt="" style="padding-left: 100px">
        </div>
    </div>
    <div class="story">
    <button class="btn" onclick="location.href='http://lmsto6677.pythonanywhere.com'">Home</button>
    <a href="https://github.com/dlalstn604/Minsu/blob/master/blog/templates/blog/image.html">소스 보기</a>
        <p>- 파일을 선택하여 이미지를 불러올 수 있습니다.</p>
        <p>- 마우스 커서에 따라 랜즈가 이미지 위를 이동합니다.</p>
        <p>- 랜즈 안의 이미지만큼을 확대하여 보여줍니다.</p>
        <br>
        <h4>어려웠던 점 :</h4>
        <p>이미지에서의 좌표를 구하는 방법</p>
        <br>
        <h4>배운점 :</h4>
        <p>
            pageX,Y 좌표를 구하고 img.getBoundingClientRect() 함수를 사용하여 img의 상대적 위치를 구한다. <br>
            pageX,Y 좌표에 img의 상대적위치를 빼주면 이미지위의 마우스의 좌표가 나온다. <br>
            이때, 스크롤을 이동하게되면 pageX,Y 좌표가 바뀌기 때문에 이동한 pageX,Y 좌표 만큼을 더 빼준다.
        </p>
    </div>


    <script>
    //이미지 파일 로드
        var file = document.querySelector('#getImg');
        file.onchange = function () {
            var fileList = file.files;

            var reader = new FileReader();
            reader.readAsDataURL(fileList[0]);

            reader.onload = function () {
                document.querySelector('#myimage').src = reader.result;
            };
        };


        function imageDetail(imgID, resultID) {
            var img, lens, result, cx, cy;
            img = document.getElementById(imgID);
            result = document.getElementById(resultID);

            //랜즈 생성
            lens = document.createElement("DIV");
            lens.setAttribute("class", "img-zoom-lens");

            img.parentElement.insertBefore(lens, img);

            //랜즈와 결과창의 비율구하기
            imageX = result.offsetWidth / lens.offsetWidth;
            imageY = result.offsetHeight / lens.offsetHeight;

            myimage.onload = function () {
                result.style.backgroundImage = "url('" + img.src + "')";
                result.style.backgroundSize = (img.width * imageX) + "px " + (img.height * imageY) + "px";
            }

            lens.addEventListener("mousemove", moveLens);
            img.addEventListener("mousemove", moveLens);

            function moveLens(e) {
                var pos, x, y;
                pos = point(e);

                x = pos.x - (lens.offsetWidth / 2);
                y = pos.y - (lens.offsetHeight / 2);
                //랜즈가 이미지 밖을 빠져나가지 못하게 설정
                if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
                if (x < 0) { x = 0; }
                if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
                if (y < 0) { y = 0; }
                lens.style.left = x + "px";
                lens.style.top = y + "px";
                //
                result.style.backgroundPosition = "-" + (x * imageX) + "px -" + (y * imageY) + "px";
            }

            function point(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                a = img.getBoundingClientRect();
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                //스크롤이 이동해도 일정한 페이지 값을 받기위해
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }

        imageDetail("myimage", "myresult");
    </script>
</body>

</html>