{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <title>Document</title>
</head>
<script>
    var space = "{% static 'image/우주.png' %}"
    var star = "{% static 'image/별.png' %}"
    var ship = "{% static 'image/우주선.png' %}"
    var enemy2 = "{% static 'image/적2.png' %}"
    var stone = "{% static 'image/운석3.png' %}"
</script>

<body onload="startGame()">
    <div class="story">
        <p>- 미사일이 운석에 닿으면 둘다 사라집니다.</p>
        <p>- 운석이나 적의 미사일에 닿으면 게임이 종료됩니다.</p>
        <p>- 시간이 갈수록 장애물이 빨라집니다.</p>
        <br>
        <h4>어려웠던 점 :</h4>
        <p>컨트롤 키들이 서로 간섭을 받지 않게 하기 위한 작업. <br><br>keyCode를 변수에 담아 조건문으로 keyCode가 바뀔 때마다 그에 대한 행동을 하게 하였는데,
            한번에 하나의 동작만 인식을 하여 버벅대는 문제점이 생겼다.</p>
        <br>
        <h4>극복 과정 :</h4>
        <p>각자의 keyCode에 행동을 지정해주고 기본값으로 false를 주어 keyDown일 때만 true가 되는
        함수를 만들었다.</p>
    </div>
    <br>
    <br>
    <span>좌로이동 : ←</span> |
    <span>우로이동 : →</span> |
    <span>미사일 발사 : Ctrl</span>
    <br>
    <br>
    <button class="btn" onclick="location.href='http://127.0.0.1:8000'">Home</button>
    <button onclick="replay()">재시작</button>
    <br>
    <br>
    <a href="https://github.com/dlalstn604/Minsu/blob/master/blog/templates/blog/my_game.html">소스 보기</a>

    <script>

        var myGamePiece;
        var myObstacles = [];
        var myEnemy2 = [];
        var hidden = [];
        var missile = [];
        var missile2 = [];
        var myMissile = [];
        var myScore;

        function replay() {
            window.location.reload();
        }

        function startGame() {
            myGamePiece = new component(35, 55, ship, 210, 715, "image");
            myBackground = new component(450, 2800, space, 0, -2090, "background");
            myScore = new component("30px", "Consolas", "white", 150, 40, "text");
            myGameArea.start();
        }

        var myGameArea = {
            canvas: document.createElement("canvas"),
            start: function () {
                this.canvas.width = 450;
                this.canvas.height = 710;
                this.context = this.canvas.getContext("2d");
                document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                this.frameNo = 0;
                this.interval = setInterval(updateGameArea, 20);
                this.action();
                this.shooting = false;
                this.left = false;
                this.right = false;
            },
            action: function () {
                window.addEventListener("keydown", this.buttonDown);
                window.addEventListener("keyup", this.buttonUp);
            },
            clear: function () {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            },
            stop: function () {
                clearInterval(this.interval);
            },

            //컨트롤 키들이 서로 간섭을 하지 않게 하기 위해 따로 값을 먹여줌
            buttonDown: function (e) {
                if (e.keyCode == 17) {
                    myGameArea.shooting = true;
                }
                if (e.keyCode == 37) {
                    myGameArea.left = true;
                }
                if (e.keyCode == 39) {
                    myGameArea.right = true;
                }
            },

            buttonUp: function (e) {
                if (e.keyCode == 17) {
                    myGameArea.shooting = false
                }
                if (e.keyCode == 37) {
                    myGameArea.left = false;
                }
                if (e.keyCode == 39) {
                    myGameArea.right = false;
                }
            }

        }

        function component(width, height, color, x, y, type) {

            this.type = type;
            if (type == "image" || type == "background") {
                this.image = new Image();
                this.image.src = color;
            }
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.speedX = 0;
            this.speedY = 0;
            this.update = function () {
                ctx = myGameArea.context;
                if (type == "image" || type == "background") {
                    ctx.drawImage(this.image,
                        this.x,
                        this.y,
                        this.width, this.height)
                } else if (type == "background") {
                    ctx.drawImage(this.image,
                        this.x + this.width,
                        this.y,
                        this.width, this.height);
                } else if (this.type == "text") {
                    ctx.font = this.width + " " + this.height;
                    ctx.fillStyle = color;
                    ctx.fillText(this.text, this.x, this.y);
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
            }
            this.newPos = function () {
                this.x += this.speedX;
                this.y += this.speedY;
                if (this.type == "background") {
                    if (this.y > 0) {
                        this.y = (myGameArea.canvas.height - this.height);
                    }
                }
                if (this.type == "image") {
                    if (this.y > 625) {
                        this.y -= 2;
                    }
                }
            }

            this.crashWith = function (otherobj) {
                var myleft = this.x + 5;
                var myright = this.x + (this.width) - 5;
                var mytop = this.y + 17;
                var mybottom = this.y + (this.height);
                var otherleft = otherobj.x;
                var otherright = otherobj.x + (otherobj.width);
                var othertop = otherobj.y;
                var otherbottom = otherobj.y + (otherobj.height);
                var crash = true;
                if ((mybottom < othertop) || (mytop > otherbottom) || (myright < otherleft) || (myleft > otherright)) {
                    crash = false;
                }
                return crash;
            }

        }

        function obstacles(width, height, color, x, y, type) {
            this.type = type;
            if (type == "image") {
                this.image = new Image();
                this.image.src = color;
            }
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.speedX = 0;
            this.speedY = 0;
            this.dirX = Math.random() * 2;
            this.update = function () {
                ctx = myGameArea.context;
                if (type == "image") {
                    ctx.drawImage(this.image,
                        this.x,
                        this.y,
                        this.width, this.height)
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
                if (this.x >= myGameArea.canvas.width - this.width || this.x <= 0) {
                    this.dirX *= -1;
                }
                this.x += this.dirX;
            }
            this.newPos = function () {
                this.y += this.speedY;
                this.X += this.speedX;
            }

        }

        function enemy(width, height, color, x, y, type, energy) {
            this.type = type;
            if (type == "image") {
                this.image = new Image();
                this.image.src = color;
            }
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.dirX = 1;
            this.dirY = 1;
            this.energy = energy;
            this.update = function () {
                ctx = myGameArea.context;
                if (type == "image") {
                    ctx.drawImage(this.image,
                        this.x,
                        this.y,
                        this.width, this.height)
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
                if (this.type == "image") {
                    if (this.y < 0) {
                        this.y += 1;
                    }
                }
                if (this.x >= myGameArea.canvas.width + 30 - this.width || this.x <= -30) {
                    this.dirX *= -1;
                }
                if (this.y >= 100 || this.y <= 0) {
                    this.dirY *= -1;
                }
                this.x += this.dirX;
                this.y += this.dirY;
            }
        }

        function enemyMissile(width, height, color, x, y, type) {
            this.type = type;
            if (type == "image") {
                this.image = new Image();
                this.image.src = color;
            }
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.speedX = 0;
            this.speedY = 0;
            this.update = function () {
                ctx = myGameArea.context;
                if (type == "image") {
                    ctx.drawImage(this.image,
                        this.x,
                        this.y,
                        this.width, this.height)
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
            }
        }


        function updateGameArea() {
            myGameArea.clear();

            if (myGameArea.shooting) {
                shoot();
            }

            function shoot() {
                if (myGameArea.frameNo % 5 == 1) {
                    myMissile.push(new component(5, 20, "#4DF051", myGamePiece.x + 17, myGamePiece.y));
                }
            }

            if (myGameArea.left) {
                myGamePiece.x -= 5;
                if (myGamePiece.x < -10) {
                    myGamePiece.x = -10;
                }
            }
            if (myGameArea.right) {
                myGamePiece.x += 5;
                if (myGamePiece.x + myGamePiece.width > myGameArea.canvas.width + 5) {
                    myGamePiece.x = 425;
                }
            }

            myBackground.speedY = 1.5;
            myBackground.newPos();
            myBackground.update();
            myGamePiece.update();
            myGamePiece.newPos();
            myScore.text = "SCORE: " + myGameArea.frameNo;
            myGameArea.frameNo += 1;

            if (myGameArea.frameNo == 1 || everyinterval(100)) {
                myObstacles.push(new obstacles(60, 100, stone, Math.random() * 390, -80, 'image'));
            }

            if (myGameArea.frameNo == 1 || everyinterval(10000)) {
                setInterval(function () {
                    hidden.push(new obstacles(55, 55, star, Math.random() * 390, -50, 'image'))
                }, 10000)
            }

            if (myGameArea.frameNo == 1 || everyinterval(10000)) {
                setInterval(function () {
                    myEnemy2.push(new enemy(100, 55, enemy2, Math.random() * 350, -80, "image", 10));
                }, 10000)
            }

            for (i = 0; i < myEnemy2.length; i += 1) {
                myEnemy2[i].update();
                if (myGameArea.frameNo % 60 == 1) {
                    missile.push(new enemyMissile(5, 20, "red", myEnemy2[i].x + 50, myEnemy2[i].y + 30));
                    missile2.push(new enemyMissile(5, 20, "red", myEnemy2[i].x + 50, myEnemy2[i].y + 30));
                }

            }

            for (i = 0; i < missile.length; i += 1) {
                missile[i].y += 3;
                missile[i].update();
            }

            for (x = 0; x < missile2.length; x += 1) {
                missile2[x].y += 3;
                missile2[x].x -= 1
                missile2[x].update();
            }


            for (i = 0; i < myObstacles.length; i += 1) {
                myObstacles[i].y += 1;
                myObstacles[i].update();
                myObstacles[i].newPos();
            }

            for (i = 0; i < hidden.length; i += 1) {
                hidden[i].y += 5;
                hidden[i].update();
            }

            myScore.update();

            for (i = 0; i < myMissile.length; i += 1) {
                myMissile[i].y -= 7;
                myMissile[i].update();
                try {
                for (x = 0; x < myObstacles.length; x += 1) {
                    if (myMissile[i].crashWith(myObstacles[x])) {
                        myObstacles.splice(myObstacles.indexOf(myObstacles[x]), 1);
                        myMissile.splice(myMissile.indexOf(myMissile[i]), 1);
                        myGameArea.frameNo += 100;
                    }
                }
                for (y = 0; y < myEnemy2.length; y += 1) {
                    if (myMissile[i].crashWith(myEnemy2[y])) {
                        myEnemy2[y].energy -= 1;
                        myMissile.splice(myMissile.indexOf(myMissile[i]), 1);
                        if(myEnemy2[y].energy == 0) {
                            myEnemy2.splice(myEnemy2.indexOf(myEnemy2[y]), 1);
                            myGameArea.frameNo += 1000;
                        }
                    }
                }
                for (z = 0; z < hidden.length; z += 1) {
                    if (myMissile[i].crashWith(hidden[z])) {
                        hidden.splice(hidden.indexOf(hidden[z]), 1);
                        myMissile.splice(myMissile.indexOf(myMissile[i]), 1);
                        myGameArea.frameNo += 1000;
                        }
                    }
                }
                catch(err) {
                    return;
                }
            }

            for (i = 0; i < missile.length; i += 1) {
                if (myGamePiece.crashWith(missile[i])) {
                    myGameArea.stop();
                    alert('GAME OVER\n당신의 점수는 ' + myGameArea.frameNo + '점 입니다.');
                }
            }

            for (i = 0; i < missile2.length; i += 1) {
                if (myGamePiece.crashWith(missile2[i])) {
                    myGameArea.stop();
                    alert('GAME OVER\n당신의 점수는 ' + myGameArea.frameNo + '점 입니다.');
                }
            }

            for (i = 0; i < myObstacles.length; i += 1) {
                if (myGamePiece.crashWith(myObstacles[i])) {
                    myGameArea.stop();
                    alert('GAME OVER\n당신의 점수는 ' + myGameArea.frameNo + '점 입니다.');
                }
            }


            setInterval(function () {
                for (i = 0; i < myObstacles.length; i += 1) {
                    myObstacles[i].speedX += 0.05;
                    myObstacles[i].speedY += 0.01;
                }
            }, 10000)

        }

        function everyinterval(n) {
            if ((myGameArea.frameNo / n) % 1 == 0) { return true; }
            return false;
        }

    </script>
</body>

</html>